*/bin
*/obj
*.user-settings.xml

# NativeScript files
.tnsproject

# PhotoAlbum files
Photo\ Album\ Native\ Code/PhotoAlbumNative.png
Photo\ Album\ Native\ Code/README.md
.ab
*.apk
*.ipa
node_modules
**/*.abreferences.d.ts
